.searchArea {
  display: flex;
}

.bookArea {
  padding: 16px;
  background: var(--white);
  display: flex;
  column-gap: 2%;
  border-bottom: 1px solid #242424;
}

.bookImageArea {
  position: relative;
  width: 40%;
}

.bookInfoArea {
  width: 58%;
}